/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/05/03, 11:05:42
    Author     : moritakenji
*/

#top	    {width:800px;}	/* 横幅800px */
#content    {width:800px;}	/* 横幅800px */
#bottom	    {width:800px;}	/* 横幅800px */



